@{
    ViewBag.Title = "Головна";
}
@model MainPageData
    <script type="text/javascript" src="~/Scripts/homeslider.js"></script>
    <div id="Content">
        <div id="slider">
            <div class="slider-container">
                <div class="page_container">
                    <div id="slider-info" class="slider-info">
                        @foreach (var tale in Model.PopularTales)
                        {
                            <div class="slide">
                                <h2>
                                    <a href="/tales/@tale.Path">@tale.Name</a>
                                </h2>
                                <div class="image">
                                    <img src="@string.Format("http://localhost:1599/Content/Data/{0}/{1}", @tale.Name, @tale.Cover)" alt ="Slide 1" />
                                </div>
                            </div>
                        } 
                        <div class="is-nav">
                            <ul class="slider-direction-nav">
                                <li><a href="#" class="is-prev">Previous</a></li>
                                <li><a href="#" class="is-next">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- #slider -->
        <div class="container"> 
            <section id="primary">
                <div class="content">
                    <h1 class="content-title">
                        <a href="/library/lastadded">Останні додані</a>
                    </h1>
                @foreach (var tale in Model.LatestTales)
                {
                    <article class="post">
                        <a href="/tales/@tale.Path">
                            <img width="305" src="@string.Format("http://localhost:1599/Content/Data/{0}/{1}", @tale.Name, @tale.Cover)" class="post-image"/>
                        </a>
                        <div class="post-right">
                            @if (tale.Audio != null)
                            {<a href="#" class="audio">Аудіо</a> } 
                            <h2 class="entry-title">
                                <a href="/tales/@tale.Path">@tale.Name</a>
                            </h2>
                            <div class="entry-meta">
                                <span class="date"><i class="icon-calendar"></i>@tale.Date.ToShortDateString()</span>
                                @if (tale.Author_ID != null)
                                {
                                    <span class="author"><i class="icon-user"></i><a href="#">@tale.Author.FirstName @tale.Author.LastName</a></span>}
                                else
                                {<span class="author"><i class="icon-user"></i><a href="#">Народна</a></span>
                                }
                            </div>
                            <div class="entry-content">@Html.Raw(tale.ShortDescription ?? "")</div>
                        </div><!-- .post-right -->
                    </article><!-- .post -->
                } 
                </div><!-- .content -->
            </section><!-- #primary -->
            <p id="back-top">
                <a href="#top"><span></span></a>
            </p><!-- #back-top -->
        </div><!-- .container -->
    </div><!-- #Content -->
<script type="text/javascript">
	$("#slider-info").immersive_slider({
		animation: "slide",
		cssBlur: true
	});
</script>