@using FairyTales.Models.Pagination
@model PaginationManager

<script type="text/javascript"> 
function pagClick(page) {
    document.form0.elements['Page'].value = page;
    document.form0.submit();
} 
</script>

@if (Model != null && Model.PageCount != 0)
{
    <div id="pagination">
        <ul>
            <li class="control-button">
                @Html.Partial("_PaginationPart", new PaginationElement() {CustomText = "Назад", Page = Model.CurrentPage - 1, IsDisabled = Model.CurrentPage == 1 })
            </li>
            <li>@Html.Partial("_PaginationPart", new PaginationElement() { Page = 1, CurrentPage = Model.CurrentPage })</li>

            <li><span>...</span></li>

            <li>@Html.Partial("_PaginationPart", new PaginationElement() {Page = Model.CurrentPage - 1, CurrentPage = Model.CurrentPage})</li>
            <li>@Html.Partial("_PaginationPart", new PaginationElement() {Page = Model.CurrentPage, CurrentPage = Model.CurrentPage})</li>
            <li>@Html.Partial("_PaginationPart", new PaginationElement() {Page = Model.CurrentPage + 1, CurrentPage = Model.CurrentPage})</li>

            <li><span>...</span></li>
            @if (Model.PageCount > 1)
            {
                <li>@Html.Partial("_PaginationPart", new PaginationElement() { Page = Model.PageCount, CurrentPage = Model.CurrentPage })</li>
            }

            <li class="control-button">
                @Html.Partial("_PaginationPart", new PaginationElement() { CustomText = "Вперед", Page = Model.CurrentPage + 1, IsDisabled = Model.CurrentPage == Model.PageCount })
            </li>
        </ul>
    </div>
    <!-- #pagination -->
}