@using FairyTales.Entities
@using FairyTales.Models
@using Type = FairyTales.Entities.Type
@model FairyTale

@{
    ViewBag.Title = "Створення казки";
    Layout = "../Shared/_AdminPanelLayout.cshtml";
}

<div id="rev-content">
    <div id="rev-body">
        <div class="wrap">

            <h1>Додати казку</h1>

            @if (ViewBag.ResponseResult != null)
            {
                @Html.Partial("_OperationResult", (ResponseType)ViewBag.ResponseResult)
            }

        @using (Html.BeginForm("addtale", "adminpanel", FormMethod.Post))
        {
            <div id="post">
                <div id="post-body">
                    <div id="post-body-content" class="tale post-tale-content">

                        <div id="titlediv">
                            <div class="titlewrap">
                                @Html.TextBox("Name", "", new { placeHolder = "Введіть заголовок тут", id = "title" }) 
                            </div>
                            <div class="linkdiv">
                                <label for="article_link">Посилання</label>
                                @Html.TextBox("Path", "", new { placeHolder = "Для прикладу: tale_example", id = "article_link" })
                            </div>
                        </div><!-- #titlediv -->

                        <div id="contentdiv" class="postarea">
                            <div id="content-wrap">
                                @Html.TextArea("TextPath", "", new { placeHolder = "Введіть будь ласка інформацію", @class = "editor-area", id = "content" })
                            </div><!-- #content-wrap -->
                        </div><!-- #contentdiv -->

                        <div id="dif_fields" class="image author">
                            <div>
                                <label class="labeltext" for="thumbnail">Основне зображення</label>
                                @Html.TextBox("CoverPath", "", new { placeHolder = "Вкажіть шлях до зображення", id = "thumbnail" })
                            </div><!-- #thumbnaildiv -->

                            <div>
                                <label class="audiotext" for="audio">Аудіо для читання</label>
                                @Html.TextBox("AudioPath", "", new { placeHolder = "Вкажіть шлях до аудіо", id = "audio" })
                            </div><!-- #authordiv -->
                        </div><!-- #dif_fields -->

                        <div id="seodiv" class="seo-fields">
                            <div class="inside">
                                <div class="seowrap">
                                    <div class="seo-input">
                                        <label for="article_excerpt">Короткий зміст</label>
                                        @Html.TextArea("ShortDescription", "", new { id = "article_excerpt" })
                                    </div>
                                </div>
                            </div><!-- .inside -->
                        </div><!-- #seodiv -->

                    </div><!-- #post-body-content -->

                    <div id="right-sidebar">
                        <div id="side-wrap">

                            <div id="submitdiv">
                                <h3 class="area-title">Опублікувати</h3>
                                <div class="inside">
                                    <div id="submitbox">
                                        <div class="pub-actions">
                                            <div id="publicate">
                                                <input type="submit" name="submit" id="publish" value="Опублікувати"/>
                                            </div><!-- #publicate -->
                                        </div>
                                    </div>
                                </div><!-- .inside -->
                            </div><!-- #submitdiv -->

                            <div class="panel-div">
                                <h3 class="area-title">Автор</h3>
                                <div class="inside">
                                    <div class="cat-id">
                                        @{
                                            var authorsList = new List<Author>(ViewBag.Authors).Select(author => new SelectListItem {Text = string.Format("{0} {1}", author.LastName, author.FirstName).Trim()}).ToList();
                                        }
                                        @Html.DropDownListFor(model => model.AuthorInput, authorsList)
                                    </div>
                                    <div class="desc">
                                        <p>Список авторів можна побачити перейшовши по адресу: <a href="/adminpanel/authors">Автори</a>.
                                        </p>
                                    </div>
                                </div><!-- .inside -->
                            </div><!-- #categorydiv -->
                            <div class="panel-div">
                                <h3 class="area-title">Категорія</h3>
                                <div class="inside">
                                    <div class="cat-id">
                                        @{
                                            var categoriesList = new List<Category>(ViewBag.Categories).Select(category => new SelectListItem { Text = category.Name }).ToList();
                                        }
                                        @Html.DropDownListFor(model => model.CategoryInput, categoriesList)
                                    </div>
                                    <div class="desc">
                                        <p>
                                            Список категорій можна побачити перейшовши по адресу: <a href="/adminpanel/categories">Категорії</a>.
                                        </p>
                                    </div>
                                </div><!-- .inside -->
                            </div>
                            <div class="panel-div">
                                <h3 class="area-title">Тип</h3>
                                <div class="inside">
                                    <div class="cat-id">
                                        @{
                                            var typesList = new List<Type>(ViewBag.Types).Select(type => new SelectListItem {Text = type.Name}).ToList();
                                        }
                                        @Html.DropDownListFor(model => model.TypeInput, typesList)
                                    </div>
                                    <div class="desc">
                                        <p>
                                            Список типів можна побачити перейшовши по адресу: <a href="/adminpanel/types">Типи</a>.
                                        </p>
                                    </div>
                                </div><!-- .inside -->
                            </div>
                            <div class="panel-div">
                                <h3 class="area-title">Теги</h3>
                                <div class="inside">
                                    <div class="cat-id">
                                        @{
                                            var tagsList = new List<Tag>(ViewBag.Tags).Select(tag=> new SelectListItem { Text = tag.Name }).ToList();
                                        }
                                        @Html.ListBoxFor(model => model.SelectedTags, tagsList, new { style = "height: 300px" })
                                    </div>
                                    <div class="desc">
                                        <p>
                                            Список тегів можна побачити перейшовши по адресу: <a href="/adminpanel/tags">Теги</a>.
                                        </p>
                                    </div>
                                </div><!-- .inside -->
                            </div>
                        </div><!-- #side-wrap -->

                    </div><!-- #right-sidebar -->
                </div><!-- #post-body -->
            </div><!-- #post -->
        }
        </div><!-- .wrap -->
    </div><!-- #rev-body -->
</div><!-- #rev-content -->

<link rel="stylesheet" href="~/css/adminpanel/froala_editor.min.css" />
<link rel="stylesheet" href="~/css/adminpanel/froala_style.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/code_view.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/colors.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/draggable.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/file.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/fullscreen.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/image.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/image_manager.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/line_breaker.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/quick_insert.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/table.min.css">
<link rel="stylesheet" href="~/css/adminpanel/plugins/video.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

<script src="~/Scripts/adminpanel/froala_editor.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/froala_editor.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/align.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/code_beautifier.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/fullscreen.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/code_view.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/colors.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/entities.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/file.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/forms.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/draggable.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/image.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/image_manager.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/inline_style.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/link.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/lists.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/paragraph_format.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/paragraph_style.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/quick_insert.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/table.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/video.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/url.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/plugins/entities.min.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/languages/ua.js"></script>
<script type="text/javascript" src="~/Scripts/adminpanel/custom.js"></script>
